
html{
	height: 880px ;
	
}

body{
	background: url('images/fond_accueil.jpg');
	background-position: center ;
    background-attachment: scroll;
    background-repeat: no-repeat; 	
    background-size: 110%;


}

#bloc_page{
	position: relative;
	width: 1000px;
	margin: 245px auto ;	
	font-family: Verdana, Arial, helvetica, sans-serif ;

}

#navigation{

	display: flex;
	background:  url(images/fond_menu.gif) ;
	justify-content: space-around;
	width: 100%;
	height: 30px;
}



#navigation a:hover{
color: #92c3e1;

}


#navigation a{
	
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

}

.usinage,.prg,.controle,.real{
background: url(images/separateur.jpg) no-repeat;	
margin-top: 0px;
margin-bottom: 0px;
color: white;
text-align: center;
font-size: 0.7em;
padding-top: 10px;
width: 16%;
font-family:  Arial, Verdana, helvetica, sans-serif ;
}

.tour{
background: url(images/separateur.jpg) no-repeat;	
margin: auto;
color: white;
text-align: center;
font-size: 0.7em;
width: 16%;
font-family:  Arial, Verdana, helvetica, sans-serif ;
}

.presentation{	
color: white;
text-align: center;
font-size: 0.7em;
margin: auto;
width: 16%;
font-family:  Arial, Verdana, helvetica, sans-serif ;
}



section{

	display: flex;
	position: relative;
}

section img{

	flex: 1.5;
	width: 20%;
	height: 20%;
}

section p{
	flex: 2;
	color: white;
	height: 200px;
	font-size: 1.5em;
	font-weight: lighter;
	font-style: italic;
	padding-left: 30px;
}

strong{

	font-size: 1.5em;
}

#contact{
	clear: both;
	display: flex;
	justify-content: space-between;
	font-size: 0.6em;
	color: #92c3e1;
	margin-top: 20px;
}

#contact p{
	text-decoration: none;
	color: #92c3e1;
}

.contact1{
	
	color: #60acdb;
	
}

.contact2{
	text-decoration: none;
	color: #92c3e1;
}

footer{

display: flex;
justify-content: flex-end;

}
