html{
	height: 1000px ;	
}

body{
	background: url(images/fond.jpg) no-repeat center top ;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100% ;

}

#bloc_page{
	width: 850px;
	margin: auto;

}


#navigation{

	display: flex;
	background:url(images/fond_menu.gif) ;
	justify-content: space-around;
	width: 100%;
	height: 30px;
}

#navigation a{
	
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.presentation,.usinage,.tour,.prg,.controle,.real{
background:url(images/separateur.jpg) no-repeat right;	
color: white;
text-align: center;
font-size: 0.5em;
width: 12%;
margin: auto;
font-family:  Arial, Verdana, helvetica, sans-serif ;
}

article{
	background-color: white;
	padding: 30px 80px;
}